<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConString" connectionString="Data Source=DESKTOP-IPCUTGB\SQLEXPRESS;Initial Catalog=Hotel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeManagement.Properties.Settings.HotelConnectionString"
            connectionString="Data Source=DESKTOP-IPCUTGB\SQLEXPRESS;Initial Catalog=hotetDBFinal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>